
Form{margin-left: 0%;}
.submitButton{
    margin-left: 3%;
    width:303px;
    border-radius: 6.8px;
    background-color: #00c9e3; 
    border: 1px solid #00c9e3;
}
.submitButton:hover{background-color: #00c9e3;border: 1px solid #00c9e3;}
.resetPasswordHeading{margin-left: 1.6%;}
.submitButton:active,
.submitButton:focus { 
    outline: none; 
}
.resetPasswordMain{background: #ffffff;padding-top: 2%;}


.onhover:hover
{

    cursor: pointer;

}